ESME_Business/WebContent/wsdl/emsmttransferer_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://emsmt.esme.fis.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://emsmt.esme.fis.com/">
  <xs:complexType name="esmeEmsMt">
    <xs:sequence>
      <xs:element minOccurs="0" name="commandCode" type="xs:string"/>
      <xs:element minOccurs="0" name="esmeCp" type="tns:esmeCp"/>
      <xs:element minOccurs="0" name="esmeEmsMo" type="tns:esmeEmsMo"/>
      <xs:element minOccurs="0" name="esmeFileUpload" type="tns:esmeFileUpload"/>
      <xs:element minOccurs="0" name="esmeGroups" type="tns:esmeGroups"/>
      <xs:element minOccurs="0" name="esmeSmsLog" type="tns:esmeSmsLog"/>
      <xs:element minOccurs="0" name="esmeSubscriber" type="tns:esmeSubscriber"/>
      <xs:element minOccurs="0" name="lastRetryTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="msisdn" type="xs:string"/>
      <xs:element name="mtId" type="xs:long"/>
      <xs:element minOccurs="0" name="registerDeliveryReport" type="xs:string"/>
      <xs:element name="reloadNumber" type="xs:long"/>
      <xs:element minOccurs="0" name="requestTime" type="xs:dateTime"/>
      <xs:element name="retryNumber" type="xs:long"/>
      <xs:element minOccurs="0" name="shortCode" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeCp">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element name="cpId" type="xs:long"/>
      <xs:element minOccurs="0" name="createDatetime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="defaultShortCode" type="xs:string"/>
      <xs:element minOccurs="0" name="desciption" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element name="protocal" type="xs:byte"/>
      <xs:element minOccurs="0" name="receivePassword" type="xs:string"/>
      <xs:element minOccurs="0" name="receiveUrlMsg" type="xs:string"/>
      <xs:element minOccurs="0" name="receiveUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeEmsMo">
    <xs:sequence>
      <xs:element minOccurs="0" name="esmeCp" type="tns:esmeCp"/>
      <xs:element minOccurs="0" name="esmeGroups" type="tns:esmeGroups"/>
      <xs:element minOccurs="0" name="esmeServices" type="tns:esmeServices"/>
      <xs:element minOccurs="0" name="esmeServicesParent" type="tns:esmeServices"/>
      <xs:element minOccurs="0" name="esmeServicesRoot" type="tns:esmeServices"/>
      <xs:element minOccurs="0" name="esmeShortCode" type="tns:esmeShortCode"/>
      <xs:element minOccurs="0" name="esmeSmsCommand" type="tns:esmeSmsCommand"/>
      <xs:element minOccurs="0" name="esmeSmsLog" type="tns:esmeSmsLog"/>
      <xs:element minOccurs="0" name="esmeSmsc" type="tns:esmeSmsc"/>
      <xs:element minOccurs="0" name="esmeSubscriber" type="tns:esmeSubscriber"/>
      <xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element name="moId" type="xs:long"/>
      <xs:element minOccurs="0" name="msisdn" type="xs:string"/>
      <xs:element minOccurs="0" name="protocal" type="xs:int"/>
      <xs:element minOccurs="0" name="reason" type="xs:string"/>
      <xs:element minOccurs="0" name="requestTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="retryNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="shortCode" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeGroups">
    <xs:sequence>
      <xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element name="groupId" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="parentId" type="xs:long"/>
      <xs:element name="rootId" type="xs:long"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeServices">
    <xs:sequence>
      <xs:element minOccurs="0" name="desciption" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="esmeSmsRoutings" nillable="true" type="xs:anyType"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="parentId" type="xs:long"/>
      <xs:element minOccurs="0" name="rootId" type="xs:long"/>
      <xs:element name="serviceId" type="xs:long"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeShortCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="desciption" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="esmeSmsRoutings" nillable="true" type="xs:anyType"/>
      <xs:element minOccurs="0" name="mtFreeNumber" type="xs:byte"/>
      <xs:element minOccurs="0" name="price" type="xs:long"/>
      <xs:element name="shortCodeId" type="xs:long"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeSmsCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element name="commandId" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="esmeSmsRoutings" nillable="true" type="xs:anyType"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeSmsLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="ackDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ackId" type="xs:long"/>
      <xs:element minOccurs="0" name="errorCode" type="xs:string"/>
      <xs:element minOccurs="0" name="esmeCp" type="tns:esmeCp"/>
      <xs:element minOccurs="0" name="esmeFileUpload" type="tns:esmeFileUpload"/>
      <xs:element minOccurs="0" name="esmeServices" type="tns:esmeServices"/>
      <xs:element minOccurs="0" name="esmeShortCode" type="tns:esmeShortCode"/>
      <xs:element minOccurs="0" name="esmeSmsCommand" type="tns:esmeSmsCommand"/>
      <xs:element minOccurs="0" name="esmeSmsc" type="tns:esmeSmsc"/>
      <xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime"/>
      <xs:element name="logId" type="xs:long"/>
      <xs:element minOccurs="0" name="msisdn" type="xs:string"/>
      <xs:element minOccurs="0" name="requestId" type="xs:long"/>
      <xs:element minOccurs="0" name="requestTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="responseId" type="xs:long"/>
      <xs:element minOccurs="0" name="serviceParentId" type="xs:long"/>
      <xs:element minOccurs="0" name="serviceRoorId" type="xs:long"/>
      <xs:element minOccurs="0" name="smsContent" type="xs:string"/>
      <xs:element minOccurs="0" name="sourceSmsId" type="xs:long"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="totalSms" type="xs:byte"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeFileUpload">
    <xs:sequence>
      <xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="esmeServices" type="tns:esmeServices"/>
      <xs:element minOccurs="0" name="fileName" type="xs:string"/>
      <xs:element minOccurs="0" name="fileUploadId" type="xs:long"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="totalFail" type="xs:long"/>
      <xs:element minOccurs="0" name="totalRecord" type="xs:long"/>
      <xs:element minOccurs="0" name="totalSucess" type="xs:long"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
      <xs:element minOccurs="0" name="url" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeSmsc">
    <xs:sequence>
      <xs:element minOccurs="0" name="className" type="xs:string"/>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="defaulShortCode" type="xs:string"/>
      <xs:element minOccurs="0" name="desciption" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="esmeSmscParams" nillable="true" type="xs:anyType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="esmeSmscRoutings" nillable="true" type="xs:anyType"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="smscId" type="xs:long"/>
      <xs:element minOccurs="0" name="startupType" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeSubscriber">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="birthDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="msisdn" type="xs:string"/>
      <xs:element minOccurs="0" name="sex" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element name="subId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:element name="add" type="tns:add"/>
  <xs:complexType name="add">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:esmeEmsMt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="addResponse" type="tns:addResponse"/>
  <xs:complexType name="addResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="delete" type="tns:delete"/>
  <xs:complexType name="delete">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:esmeEmsMt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="deleteResponse" type="tns:deleteResponse"/>
  <xs:complexType name="deleteResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="checkExisted" type="tns:checkExisted"/>
  <xs:complexType name="checkExisted">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:esmeEmsMt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkExistedResponse" type="tns:checkExistedResponse"/>
  <xs:complexType name="checkExistedResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findAllWithOrderPaging" type="tns:findAllWithOrderPaging"/>
  <xs:complexType name="findAllWithOrderPaging">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:esmeEmsMt"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element name="arg2" type="xs:boolean"/>
      <xs:element name="arg3" type="xs:int"/>
      <xs:element name="arg4" type="xs:int"/>
      <xs:element name="arg5" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findAllWithOrderPagingResponse" type="tns:findAllWithOrderPagingResponse"/>
  <xs:complexType name="findAllWithOrderPagingResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:esmeEmsMt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="count" type="tns:count"/>
  <xs:complexType name="count">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:esmeEmsMt"/>
      <xs:element name="arg1" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="countResponse" type="tns:countResponse"/>
  <xs:complexType name="countResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findAllWithoutParameter" type="tns:findAllWithoutParameter"/>
  <xs:complexType name="findAllWithoutParameter">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="findAllWithoutParameterResponse" type="tns:findAllWithoutParameterResponse"/>
  <xs:complexType name="findAllWithoutParameterResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:esmeEmsMt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkConstraints" type="tns:checkConstraints"/>
  <xs:complexType name="checkConstraints">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkConstraintsResponse" type="tns:checkConstraintsResponse"/>
  <xs:complexType name="checkConstraintsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="update" type="tns:update"/>
  <xs:complexType name="update">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:esmeEmsMt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="updateResponse" type="tns:updateResponse"/>
  <xs:complexType name="updateResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="findByMtID" type="tns:findByMtID"/>
  <xs:complexType name="findByMtID">
    <xs:sequence>
      <xs:element name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findByMtIDResponse" type="tns:findByMtIDResponse"/>
  <xs:complexType name="findByMtIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:esmeEmsMt"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
