ESME_Business/WebContent/wsdl/esmesmslogtransferer_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://smslog.esme.fis.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://smslog.esme.fis.com/">
  <xs:complexType name="esmeSmsLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="ackDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ackId" type="xs:long"/>
      <xs:element minOccurs="0" name="errorCode" type="xs:string"/>
      <xs:element minOccurs="0" name="esmeCp" type="tns:esmeCp"/>
      <xs:element minOccurs="0" name="esmeFileUpload" type="tns:esmeFileUpload"/>
      <xs:element minOccurs="0" name="esmeServices" type="tns:esmeServices"/>
      <xs:element minOccurs="0" name="esmeShortCode" type="tns:esmeShortCode"/>
      <xs:element minOccurs="0" name="esmeSmsCommand" type="tns:esmeSmsCommand"/>
      <xs:element minOccurs="0" name="esmeSmsc" type="tns:esmeSmsc"/>
      <xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime"/>
      <xs:element name="logId" type="xs:long"/>
      <xs:element minOccurs="0" name="msisdn" type="xs:string"/>
      <xs:element minOccurs="0" name="requestId" type="xs:long"/>
      <xs:element minOccurs="0" name="requestTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="responseId" type="xs:long"/>
      <xs:element minOccurs="0" name="serviceParentId" type="xs:long"/>
      <xs:element minOccurs="0" name="serviceRoorId" type="xs:long"/>
      <xs:element minOccurs="0" name="smsContent" type="xs:string"/>
      <xs:element minOccurs="0" name="sourceSmsId" type="xs:long"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="totalSms" type="xs:byte"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeCp">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element name="cpId" type="xs:long"/>
      <xs:element minOccurs="0" name="createDatetime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="defaultShortCode" type="xs:string"/>
      <xs:element minOccurs="0" name="desciption" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element name="protocal" type="xs:byte"/>
      <xs:element minOccurs="0" name="receivePassword" type="xs:string"/>
      <xs:element minOccurs="0" name="receiveUrlMsg" type="xs:string"/>
      <xs:element minOccurs="0" name="receiveUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeFileUpload">
    <xs:sequence>
      <xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="esmeServices" type="tns:esmeServices"/>
      <xs:element minOccurs="0" name="fileName" type="xs:string"/>
      <xs:element minOccurs="0" name="fileUploadId" type="xs:long"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="totalFail" type="xs:long"/>
      <xs:element minOccurs="0" name="totalRecord" type="xs:long"/>
      <xs:element minOccurs="0" name="totalSucess" type="xs:long"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
      <xs:element minOccurs="0" name="url" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeServices">
    <xs:sequence>
      <xs:element minOccurs="0" name="desciption" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="esmeSmsRoutings" nillable="true" type="xs:anyType"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="parentId" type="xs:long"/>
      <xs:element minOccurs="0" name="rootId" type="xs:long"/>
      <xs:element name="serviceId" type="xs:long"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeShortCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="desciption" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="esmeSmsRoutings" nillable="true" type="xs:anyType"/>
      <xs:element minOccurs="0" name="mtFreeNumber" type="xs:byte"/>
      <xs:element minOccurs="0" name="price" type="xs:long"/>
      <xs:element name="shortCodeId" type="xs:long"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeSmsCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element name="commandId" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="esmeSmsRoutings" nillable="true" type="xs:anyType"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeSmsc">
    <xs:sequence>
      <xs:element minOccurs="0" name="className" type="xs:string"/>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="defaulShortCode" type="xs:string"/>
      <xs:element minOccurs="0" name="desciption" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="esmeSmscParams" nillable="true" type="xs:anyType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="esmeSmscRoutings" nillable="true" type="xs:anyType"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="smscId" type="xs:long"/>
      <xs:element minOccurs="0" name="startupType" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subSearchDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="commandId" type="xs:long"/>
      <xs:element minOccurs="0" name="fromDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="msisdn" type="xs:string"/>
      <xs:element minOccurs="0" name="serviceId" type="xs:long"/>
      <xs:element minOccurs="0" name="shortcodeId" type="xs:long"/>
      <xs:element minOccurs="0" name="toDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:element name="checkConstraints" type="tns:checkConstraints"/>
  <xs:complexType name="checkConstraints">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkConstraintsResponse" type="tns:checkConstraintsResponse"/>
  <xs:complexType name="checkConstraintsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="update" type="tns:update"/>
  <xs:complexType name="update">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:esmeSmsLog"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="updateResponse" type="tns:updateResponse"/>
  <xs:complexType name="updateResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="delete" type="tns:delete"/>
  <xs:complexType name="delete">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:esmeSmsLog"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="deleteResponse" type="tns:deleteResponse"/>
  <xs:complexType name="deleteResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="count" type="tns:count"/>
  <xs:complexType name="count">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:subSearchDetail"/>
      <xs:element minOccurs="0" name="arg1" type="tns:esmeSmsLog"/>
      <xs:element name="arg2" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="countResponse" type="tns:countResponse"/>
  <xs:complexType name="countResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkExisted" type="tns:checkExisted"/>
  <xs:complexType name="checkExisted">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:esmeSmsLog"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkExistedResponse" type="tns:checkExistedResponse"/>
  <xs:complexType name="checkExistedResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findAll" type="tns:findAll"/>
  <xs:complexType name="findAll">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:subSearchDetail"/>
      <xs:element minOccurs="0" name="arg1" type="tns:esmeSmsLog"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element name="arg3" type="xs:boolean"/>
      <xs:element name="arg4" type="xs:int"/>
      <xs:element name="arg5" type="xs:int"/>
      <xs:element name="arg6" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findAllResponse" type="tns:findAllResponse"/>
  <xs:complexType name="findAllResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:esmeSmsLog"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getServiceActive" type="tns:getServiceActive"/>
  <xs:complexType name="getServiceActive">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="getServiceActiveResponse" type="tns:getServiceActiveResponse"/>
  <xs:complexType name="getServiceActiveResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:esmeServices"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="add" type="tns:add"/>
  <xs:complexType name="add">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:esmeSmsLog"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="addResponse" type="tns:addResponse"/>
  <xs:complexType name="addResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getCommandActive" type="tns:getCommandActive"/>
  <xs:complexType name="getCommandActive">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="getCommandActiveResponse" type="tns:getCommandActiveResponse"/>
  <xs:complexType name="getCommandActiveResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:esmeSmsCommand"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findAllNoPaper" type="tns:findAllNoPaper"/>
  <xs:complexType name="findAllNoPaper">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:subSearchDetail"/>
      <xs:element minOccurs="0" name="arg1" type="tns:esmeSmsLog"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findAllNoPaperResponse" type="tns:findAllNoPaperResponse"/>
  <xs:complexType name="findAllNoPaperResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:esmeSmsLog"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="reportInfo" type="tns:reportInfo"/>
  <xs:complexType name="reportInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg1" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="reportInfoResponse" type="tns:reportInfoResponse"/>
  <xs:complexType name="reportInfoResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:esmeSmsLog"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lookUpInfo" type="tns:lookUpInfo"/>
  <xs:complexType name="lookUpInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg2" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lookUpInfoResponse" type="tns:lookUpInfoResponse"/>
  <xs:complexType name="lookUpInfoResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:esmeSmsLog"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getShortCodeActive" type="tns:getShortCodeActive"/>
  <xs:complexType name="getShortCodeActive">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="getShortCodeActiveResponse" type="tns:getShortCodeActiveResponse"/>
  <xs:complexType name="getShortCodeActiveResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:esmeShortCode"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
