ESME_Business/WebContent/wsdl/smsmttransferer_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://smsmt.esme.fis.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://smsmt.esme.fis.com/">
  <xs:complexType name="esmeSmsMt">
    <xs:sequence>
      <xs:element minOccurs="0" name="commandCode" type="xs:string"/>
      <xs:element name="cpId" type="xs:long"/>
      <xs:element minOccurs="0" name="fileUploadId" type="xs:long"/>
      <xs:element minOccurs="0" name="lastRetryTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="msisdn" type="xs:string"/>
      <xs:element name="mtId" type="xs:long"/>
      <xs:element minOccurs="0" name="registerDeliveryReport" type="xs:string"/>
      <xs:element minOccurs="0" name="reloadNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="requestId" type="xs:long"/>
      <xs:element minOccurs="0" name="requestTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="retryNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="shortCode" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeSmsRouting">
    <xs:sequence>
      <xs:element minOccurs="0" name="esmeCp" type="tns:esmeCp"/>
      <xs:element minOccurs="0" name="esmeServices" type="tns:esmeServices"/>
      <xs:element minOccurs="0" name="esmeShortCode" type="tns:esmeShortCode"/>
      <xs:element minOccurs="0" name="esmeSmsCommand" type="tns:esmeSmsCommand"/>
      <xs:element name="routingId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeCp">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element name="cpId" type="xs:long"/>
      <xs:element minOccurs="0" name="createDatetime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="defaultShortCode" type="xs:string"/>
      <xs:element minOccurs="0" name="desciption" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element name="protocal" type="xs:byte"/>
      <xs:element minOccurs="0" name="receivePassword" type="xs:string"/>
      <xs:element minOccurs="0" name="receiveUrlMsg" type="xs:string"/>
      <xs:element minOccurs="0" name="receiveUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeServices">
    <xs:sequence>
      <xs:element minOccurs="0" name="desciption" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="esmeSmsRoutings" nillable="true" type="xs:anyType"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="parentId" type="xs:long"/>
      <xs:element minOccurs="0" name="rootId" type="xs:long"/>
      <xs:element name="serviceId" type="xs:long"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeShortCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="desciption" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="esmeSmsRoutings" nillable="true" type="xs:anyType"/>
      <xs:element minOccurs="0" name="mtFreeNumber" type="xs:byte"/>
      <xs:element minOccurs="0" name="price" type="xs:long"/>
      <xs:element name="shortCodeId" type="xs:long"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esmeSmsCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element name="commandId" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="esmeSmsRoutings" nillable="true" type="xs:anyType"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:element name="deleteByFileUploadId" type="tns:deleteByFileUploadId"/>
  <xs:complexType name="deleteByFileUploadId">
    <xs:sequence>
      <xs:element name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="deleteByFileUploadIdResponse" type="tns:deleteByFileUploadIdResponse"/>
  <xs:complexType name="deleteByFileUploadIdResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="addMultiProcess" type="tns:addMultiProcess"/>
  <xs:complexType name="addMultiProcess">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="tns:esmeSmsMt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="addMultiProcessResponse" type="tns:addMultiProcessResponse"/>
  <xs:complexType name="addMultiProcessResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="add" type="tns:add"/>
  <xs:complexType name="add">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:esmeSmsMt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="addResponse" type="tns:addResponse"/>
  <xs:complexType name="addResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="stopUpload" type="tns:stopUpload"/>
  <xs:complexType name="stopUpload">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="stopUploadResponse" type="tns:stopUploadResponse"/>
  <xs:complexType name="stopUploadResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="count" type="tns:count"/>
  <xs:complexType name="count">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:esmeSmsMt"/>
      <xs:element name="arg1" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="countResponse" type="tns:countResponse"/>
  <xs:complexType name="countResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkExisted" type="tns:checkExisted"/>
  <xs:complexType name="checkExisted">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:esmeSmsMt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkExistedResponse" type="tns:checkExistedResponse"/>
  <xs:complexType name="checkExistedResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindBySmsRouting" type="tns:FindBySmsRouting"/>
  <xs:complexType name="FindBySmsRouting">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:esmeSmsRouting"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindBySmsRoutingResponse" type="tns:FindBySmsRoutingResponse"/>
  <xs:complexType name="FindBySmsRoutingResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:esmeSmsRouting"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="delete" type="tns:delete"/>
  <xs:complexType name="delete">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:esmeSmsMt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="deleteResponse" type="tns:deleteResponse"/>
  <xs:complexType name="deleteResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="findByCommand" type="tns:findByCommand"/>
  <xs:complexType name="findByCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findByCommandResponse" type="tns:findByCommandResponse"/>
  <xs:complexType name="findByCommandResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:esmeSmsCommand"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findAllWithoutParameter" type="tns:findAllWithoutParameter"/>
  <xs:complexType name="findAllWithoutParameter">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="findAllWithoutParameterResponse" type="tns:findAllWithoutParameterResponse"/>
  <xs:complexType name="findAllWithoutParameterResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:esmeSmsMt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="update" type="tns:update"/>
  <xs:complexType name="update">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:esmeSmsMt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="updateResponse" type="tns:updateResponse"/>
  <xs:complexType name="updateResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="findAllWithOrderPaging" type="tns:findAllWithOrderPaging"/>
  <xs:complexType name="findAllWithOrderPaging">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:esmeSmsMt"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element name="arg2" type="xs:boolean"/>
      <xs:element name="arg3" type="xs:int"/>
      <xs:element name="arg4" type="xs:int"/>
      <xs:element name="arg5" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findAllWithOrderPagingResponse" type="tns:findAllWithOrderPagingResponse"/>
  <xs:complexType name="findAllWithOrderPagingResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:esmeSmsMt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findByShortCode" type="tns:findByShortCode"/>
  <xs:complexType name="findByShortCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findByShortCodeResponse" type="tns:findByShortCodeResponse"/>
  <xs:complexType name="findByShortCodeResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:esmeShortCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkConstraints" type="tns:checkConstraints"/>
  <xs:complexType name="checkConstraints">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkConstraintsResponse" type="tns:checkConstraintsResponse"/>
  <xs:complexType name="checkConstraintsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findByCP" type="tns:findByCP"/>
  <xs:complexType name="findByCP">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findByCPResponse" type="tns:findByCPResponse"/>
  <xs:complexType name="findByCPResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:esmeCp"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
