ESME_Business/WebContent/wsdl/subscriberdttransferer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SubscriberDTTransfererService" targetNamespace="http://subscriberdt.esme.fis.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://subscriberdt.esme.fis.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
<import namespace="http://subscriberdt.esme.fis.com/" schemaLocation="subscriberdttransferer_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="count">
    <wsdl:part name="parameters" element="tns:count">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllWithoutParameterResponse">
    <wsdl:part name="parameters" element="tns:findAllWithoutParameterResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllWithoutParameter">
    <wsdl:part name="parameters" element="tns:findAllWithoutParameter">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part name="parameters" element="tns:addResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part name="parameters" element="tns:update">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countResponse">
    <wsdl:part name="parameters" element="tns:countResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllWithOrderPaging">
    <wsdl:part name="parameters" element="tns:findAllWithOrderPaging">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="add">
    <wsdl:part name="parameters" element="tns:add">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SubscriberDTTransferer">
    <wsdl:part name="parameters" element="tns:SubscriberDTTransferer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="parameters" element="tns:updateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllWithOrderPagingResponse">
    <wsdl:part name="parameters" element="tns:findAllWithOrderPagingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkExistedResponse">
    <wsdl:part name="parameters" element="tns:checkExistedResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="parameters" element="tns:deleteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SubscriberDTTransfererResponse">
    <wsdl:part name="parameters" element="tns:SubscriberDTTransfererResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkExisted">
    <wsdl:part name="parameters" element="tns:checkExisted">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part name="parameters" element="tns:delete">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SubscriberDTTransferer">
    <wsdl:operation name="update">
      <wsdl:input name="update" message="tns:update">
    </wsdl:input>
      <wsdl:output name="updateResponse" message="tns:updateResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="count">
      <wsdl:input name="count" message="tns:count">
    </wsdl:input>
      <wsdl:output name="countResponse" message="tns:countResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriberDTTransferer">
      <wsdl:input name="SubscriberDTTransferer" message="tns:SubscriberDTTransferer">
    </wsdl:input>
      <wsdl:output name="SubscriberDTTransfererResponse" message="tns:SubscriberDTTransfererResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input name="delete" message="tns:delete">
    </wsdl:input>
      <wsdl:output name="deleteResponse" message="tns:deleteResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkExisted">
      <wsdl:input name="checkExisted" message="tns:checkExisted">
    </wsdl:input>
      <wsdl:output name="checkExistedResponse" message="tns:checkExistedResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input name="add" message="tns:add">
    </wsdl:input>
      <wsdl:output name="addResponse" message="tns:addResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findAllWithoutParameter">
      <wsdl:input name="findAllWithoutParameter" message="tns:findAllWithoutParameter">
    </wsdl:input>
      <wsdl:output name="findAllWithoutParameterResponse" message="tns:findAllWithoutParameterResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findAllWithOrderPaging">
      <wsdl:input name="findAllWithOrderPaging" message="tns:findAllWithOrderPaging">
    </wsdl:input>
      <wsdl:output name="findAllWithOrderPagingResponse" message="tns:findAllWithOrderPagingResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubscriberDTTransfererServiceSoapBinding" type="tns:SubscriberDTTransferer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="update">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="count">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="count">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="countResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriberDTTransferer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="SubscriberDTTransferer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SubscriberDTTransfererResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="delete">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkExisted">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="checkExisted">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkExistedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="add">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findAllWithOrderPaging">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findAllWithOrderPaging">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAllWithOrderPagingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findAllWithoutParameter">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findAllWithoutParameter">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAllWithoutParameterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubscriberDTTransfererService">
    <wsdl:port name="SubscriberDTTransfererPort" binding="tns:SubscriberDTTransfererServiceSoapBinding">
      <soap:address location="http://localhost:7080/ESME_Business/services/SubscriberDTTransfererPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
